<section class="banner img1" id="banner">
    <div class="col-xs-12 col-sm-12 progress-container">
        <div class="progress progress-striped active" style="background-color: transparent;">
            <div class="progress-bar progress-bar-success active" id="largura" style="width: 0%"></div>
        </div>
    </div>
</section>


<div class="container">
    <section>
        <div class="row col-md-auto">
            <div class="galeria">
                <a href="#" target="_blank">
                    <img src="assets/img/produtos/001.png" alt="Imagem 1">
                </a>

                <div class="desc">Imagem 01</div>
            </div>

            <div class=" galeria">
                <a href="#" target="_blank">
                    <img src="assets/img/produtos/002.png" alt="Imagem 2">
                </a>
                <div class="desc">Imagem 02</div>
            </div>
            <div class=" galeria">
                <a href="#" target="_blank">
                    <img src="assets/img/produtos/003.png" alt="Imagem 3">
                </a>
                <div class="desc">Imagem 03</div>
            </div>

            <div class=" galeria">
                <a href="#" target="_blank">
                    <img src="assets/img/produtos/004.png" alt="Imagem 4">
                </a>
                <div class="desc">Imagem 04</div>
            </div>
            <div class=" galeria">
                <a href="#" target="_blank">
                    <img src="assets/img/produtos/005.png" alt="Imagem 5">
                </a>
                <div class="desc">Imagem 05</div>
            </div>
        </div>
    </section>


    <section class="cabecalho-secoes">
        <div class="row justify-content-md-center col-9 " id="espaco-noticias">
            <!-- <div class="col-md-3 cardNews">
            <img src="img/news.jpg" class="img-thumbnail" alt="Imagem de Notícia">
            <h4>Titulo da Notícia</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod temporary incididunt ut labore et dolore magna aliqua. Enim adim ad minimim veniam, quis nostrud exercise ullamco laboris nisi ut alipip ex ea commodo consequat.
                    Duis auteur irure pain in reprehenderit in voluptate velit.</p>
        </div> -->

        </div>

        <div class="col-md-auto">
            <!-- <aside> -->
            <table class="table" id="tabela-gamer">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Sobr.</th>
                        <th scope="col">Handle</th>
                    </tr>
                </thead>
                <tbody id="lista-classificados">

                </tbody>
            </table>
            <!-- </aside> -->
        </div>
    </section>
</div>


<section class="container" style="padding: 0;">
    <div class="footer g-col-6">GameSpot
        <form action="">
            <input type="email" name="newsletter" id="cadnewsletter" placeholder="News Letter E-mail" class="input-standard">
            <button class="button-standard">Cadastrar</button>
        </form>
    </div>
</section>